# Learn more https://docs.github.com/en/get-started/getting-started-with-git/ignoring-files

# dependencies
node_modules/
**/node_modules/

# Expo / Vite / Web build
.expo/
**/.expo/
dist/
**/dist/
web-build/
expo-env.d.ts

# Environment variables & secrets
.env
.env*
*.env
**/.env
**/.env*
!**/.env.example
!.env.example

# Native & Signing
.kotlin/
*.orig.*
*.jks
*.p8
*.p12
*.key
*.pem
*.mobileprovision

# Metro & Bundlers
.metro-health-check*

# Debug & Logs
npm-debug.*
yarn-debug.*
yarn-error.*
*.log

# OS
.DS_Store
Thumbs.db

# TypeScript
*.tsbuildinfo

# Generated native folders
/ios
/android
mobile/ios
mobile/android

# Editor / Tooling
.opencode/
